.btn-success{
    background-color :rgb(240, 86, 69);
    color: white;
}
.bb{
    width: 32%;
    margin: auto;
    margin-top: -5cm;
    margin-left: 17.5cm;
    align-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(240, 214, 69);
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(240, 214, 69);
}
.bb2{
    width: 50%;
    margin: auto;
    margin-top: 1cm;
    margin-left: 15.5cm;
    align-content: center;
    background-color: white;
    color: rgb(240, 214, 69);
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(240, 214, 69);
}

.im{
    height: 7cm;
}